@media only screen and (max-width:600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20pxpx;

	}

	.content {
	margin-left: 0% !important;
}

}

.sidebar {
		width: 18%;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 45px;

	}

	.sidebar a {
		display: block;
		width: 100%;
		padding: 10px 25px;
		text-decoration: none;
		color: gray;
		font-weight: bold;
		font-size: 20px;
	}





.sidebar a:hover {
	background: rgb(198, 207, 220);
	color: red;
}

.content {
	margin-left: 20%;
}

.sidebar .crossbtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.active{
	background: rgb(198, 207, 220) !important;
	color: black;
}

