<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


    <div th:fragment="myheader" >
       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        <!--<link rel="stylesheet" th:href="@{/css/style.css}">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>


<div th:fragment="navbar">


    <nav class="navbar navbar-expand-lg navbar-info bg-primary sticky-bottom">
        <a class="navbar-brand fw-bold ps-2 fs-3" href="#">Smart Contact Manager</a>
        <button class="navbar-toggler me-2" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav m-auto text-uppercase fs-5 fw-bolder">
            <a class="nav-item nav-link active" th:href="@{/home}">Home </a>
            <a class="nav-item nav-link active" th:href="@{/about}">about</a>
            <a class="nav-item nav-link active" th:href="@{/signin}">login</a>
            <a class="nav-item nav-link active" th:href="@{/signup}">signup</a>
           
          </div>
        </div>
      </nav>



</div>












    <div th:fragment="foot">

        <div class="container-fluid w-100 h-100 mt-3" style="background-color: rgb(65, 63, 63);">

            <div class="d-flex justify-content-center align-item-center">
               @Copyrigth Mohd Shoaib
               
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    </div>


</body>

</html>